.fiche.album{
  .fiche-header{
    .infos{
      margin-top: 40px;
      .date-sortie{
        margin-top: 40px;
        color:#aaa;
      }
    }
    h3{
     margin-bottom: 5px 
   }
   a.nom-artiste{
    color: #aaa;
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
  }
}

.titre{
  line-height: 1.2;
}

h4{
  font-size: 22px;
  margin-bottom: 15px
}
}